
.wrapper {
  padding-top: 5rem;
  margin: 0 auto;
  width: 600px;
}

.ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.li{
  display: "flex";
  justify-content: space-between;
  align-items: "center";
  padding: .5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-bottom: .5rem;
}

.form{
  display: grid;
}

.label{
  padding-top: 10px;
}
